header{
    /* min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd; */
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 100;
    position: fixed;
    width: 100%;
    
}
header .logo{
    flex: 1;
}

header .logo h1 a{
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
    font-size: 30px;
}

header a{
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 9px 20px;
    font-weight: bold;
    font-size: 20px;
}
header ul li:hover{
    opacity: 1;
}

header .menu i{
    margin-top: 6px;
}

header .fa-bars{
    color: white;
}

.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
    margin-top: 5px;
}
.cart-icon span{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}