.product_card{
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
    border-radius: 10px;
    transform: translate(0, 0px);
    transition-duration: 0.5s;
}

.product_card:hover{
    transform: translate(0, -5px);
    transition-duration: 0.5s;
}

.product_box{
    padding: 15px;
}

.product_card input{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
}

.product_card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.product-title{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.1rem;
}
.product-price{
    position: absolute;
    bottom: 58px;
    font-weight: 500;
    color: orange;
}
.product-desc{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: rgb(121, 121, 121);
    padding: 3px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 0.9rem;
}
.row_btn{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.row_btn a{
    width: 50%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}

#buy-btn{
    margin-right: 5px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(124, 124, 124);
}

#buy-btn:hover, #view-btn:hover{
    background: orange;
    border: 1px solid orange;
    color: white;
}

#view-btn{
    margin-left: 5px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(124, 124, 124);
}

#delete-btn{
    background: #555;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
}

#delete-btn:hover{
    background: crimson;
}

#edit-btn{
    background: orange;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
}

#edit-btn:hover{
    background: rgb(230, 150, 3);
}